#root {
  max-width: 1135px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

mark {
  background-color: #e3eefa;
}

#root.exporting {
  min-width: 1135px;
}

@page {
  size: A3;
}

@media (min-width: 768px) {
  #root {
    padding: 2rem;
  }
}

@media print {
  #root {
    padding: 8px;
  }
}

.MuiListItem-root,
.MuiListItemButton-root:not(.Mui-selected),
.MuiCard-root {
  /* 6150K */
  background-color: #fffbf5 !important;
}

.MuiAccordionSummary-root {
  /* 6300K */
  background-color: #fffdf8 !important;
}

.MuiAccordionDetails-root,
.alternate {
  /* 6400K */
  background-color: #fffdf9 !important;
}

.MuiListItemText-secondary p {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
