#root {
  max-width: 1135px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

mark {
  background-color: #e3eefa;
}

#root.exporting {
  min-width: 1135px;
}

@media (min-width: 768px) {
  #root {
    padding: 2rem;
  }
}

.exporting .MuiCard-root {
  border: 1px solid black;
  margin-left: -1px;
  margin-right: -1px;
}

.MuiGrid-container .MuiCard-root {
  height: 100%;
}

.MuiCard-root {
  background-color: #ffffec !important;
}

.MuiAccordionSummary-root {
  background-color: #ffffec88 !important;
}

p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
